[Desktop Entry]
Version=1.0
Name=Toggle Font
Comment=Toggle the font scale
Exec=bash -c '/home/steph/Development/github/FearlessSpiff/utilities/scripts/desktop/font-toggle/toggle-gnome-font-scale'
Icon=format-text-bold-symbolic
Terminal=false
Type=Application
Categories=Application;
