[Desktop Entry]
Version=1.0
Name=Toggle Font
Comment=Toggle the font scale
Exec=bash -c '/usr/bin/toggle-gnome-font-scale'
Icon=utilities-terminal
Terminal=true 
Type=Application
Categories=Application;
